



.fleft
{
    float: left;
}


#bar-7
{
    top: 50px;
    left: 100px;
}
#bar-8
{
    top: 50px;
    left: 120px;
}
#bar-9
{
    top: 50px;
    left: 140px;
}
#bar-10
{
    top: 50px;
    left: 160px;
}
#bar-11
{
    top: 50px;
    left: 180px;
}
#bar-12
{
    top: 50px;
    left: 200px;
}
.jqbar.horizontal .bar-label
{
    text-align: right;
    width: 100px;
}
